@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/* all */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

body{
    background: #fff;
        background-image: url('../img/aboutus.jpg');
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: cover;
    width: 100vw;
        min-width: 600px;
    height: 100vh;
        min-height: 600px;
    display: flex;
        align-items: center;
        justify-content: center;
}

#main-card{
    /* border: 1px red solid; */
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;   
    width: 500px;
    /* height: 500px; */
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 50px;
}
    /* labels and inputs */
    #main-card form{
        font-size: 25px;
        margin-top: 20px;
        width: 100%;
        display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
            /* labels */
            #main-card form label{
                width: 90%;
                margin: 5px;
            }
            /* inputs */
            #main-card form input{
                font-size: 20px;
                margin: 5px;
                border-radius: 5px;
                height: 40px;
                width: 90%;
                padding: 10px;
            }
            /* button */
            #main-card form button{
                border-radius: 20px;
                font-size: 25px;
                margin: 20px 5px 0 20px;
                padding: 20px 100px; 
            }
