@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cutive+Mono&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* height:100vh; */
    padding-top: 100px;
    display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    font-family: 'Bitter', serif;
}
a{
    text-decoration: none;
    color: #000;
}

/* main card */
#main-card{
    border: 1px red solid;;
}



/* buttons */
#btn-container{
    width: 800px;
    padding: 5px 10px;
    display: flex;
        justify-content: space-between;
}
    #btn-container button{
        padding: 3px 8px;
    }

/* card container */
#card-container{
    /* border: 1px #000 solid; */
    margin-top: 20px;
    width: 800px;
}

/* logo */
#logo{
    font-family: 'Righteous', cursive;
    background: #ffc1c1;
    padding: 10px;
    color: #000;
}

/* entries */
.entries{
    display: flex;
        flex-flow: row wrap;
}
    .entry-container{
        width: 50%;
        /* border: 1px red solid; */
    }
    .name-container{
        width: 100%;
    }

        .label{
            font-size: 20px;
            font-weight: 400;
        }
        .entry{
            margin: 3px;
            padding: 3px;
            background: #dfdfdf;
            font-size: 25px;
            font-family: 'Cutive Mono', monospace;
        }